INFOSRV.CUP =                                              
  (DESCRIPTION =                                           
    (ADDRESS_LIST =                                        
      (ADDRESS = (PROTOCOL = TCP)(Host = cup.ftc.ru)(Port = 1521))                                                    
    )                                                      
    (CONNECT_DATA =                                        
      (SID = infosrv)                                      
    )                                                      
  )
