############AD authorization#############
SQLNET.KERBEROS5_CC_NAME = /u/app/oracle/krb_cc
SQLNET.KERBEROS5_CONF = /etc/krb5.conf
SQLNET.KERBEROS5_KEYTAB = /etc/krb5.keytab
SQLNET.KERBEROS5_CONF_MIT = TRUE
SQLNET.AUTHENTICATION_KERBEROS5_SERVICE = oracle
SQLNET.FALLBACK_AUTHENTICATION=TRUE
SQLNET.AUTHENTICATION_SERVICES= (NONE,BEQ,TCPS,KERBEROS5PRE,KERBEROS5)
